<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Leaderboards</title>
</head>
<body>
  <div class="image-container"><img src="../../../../content/images/Leaderboard_background.png" alt="" /></div>
  <h1 class="banner-container-page-title dynamic-text-size" [style.fontSize]="fontSizeMultiplier * 3.3 + 'rem'">LEADERBOARDS</h1>
  <div class="container">
    <div class="button-container">
      <div class="title-box">
        <a style="font-size: 18px" href="../user-profile" class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'"
          >All-Time Players</a
        >
      </div>
      <ng-container *ngIf="userProfiles != undefined && userProfiles != null; else noPlayer">
        <div
          class="list"
          style="margin: 20px"
          *ngFor="let userProfile of userProfiles.slice(getUserStartIndex(), getUserEndIndex()); let i = index"
        >
          <div class="column" (click)="navigateToUserLD(userProfile.id)">
            <ng-container *ngIf="userProfile!.profilePic; else defaultImage" style="float: left">
              <img
                class="player_img"
                [src]="'data:' + userProfile!.profilePicContentType + ';base64,' + userProfile!.profilePic"
                alt="Player Image"
              />
            </ng-container>
            <ng-template #defaultImage>
              <img class="player_img" src="../../../../content/images/DefaultProfilePicture.jpg" alt="default player image" />
            </ng-template>
            <div class="bl">
              <div
                style="float: left; margin-left: 15px; font-size: 20px"
                class="dynamic-text-size"
                [style.fontSize]="fontSizeMultiplier + 'rem'"
              >
                {{ userProfile.name }}
              </div>
              <ng-container *ngIf="userProfile.averageRating; else noRating">
                <div class="rating-content" [attr.data-rating]="userProfile.averageRating">
                  <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">★</span
                  ><span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">★</span
                  ><span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">★</span
                  ><span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">★</span
                  ><span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">★</span>
                </div>
              </ng-container>
              <ng-template #noRating>
                <div class="rating-content" [attr.data-rating]="userProfile.averageRating">
                  <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">No Rating</span>
                </div>
              </ng-template>

              <div>
                <div class="comment_span dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">
                  {{ userProfile.contentOfHighestLikedComment }}
                </div>
                <span class="dynamic-text-size num" [style.fontSize]="fontSizeMultiplier + 'rem'" *ngIf="userProfile.averageRating">{{
                  userProfile.averageRating
                }}</span>
                <span class="dynamic-text-size num" [style.fontSize]="fontSizeMultiplier + 'rem'" *ngIf="userProfile.averageRating == null"
                  >Loading...</span
                >
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noPlayer>
        <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Currently no player!</span>
      </ng-template>
      <button
        class="dynamic-text-size"
        [style.fontSize]="fontSizeMultiplier + 'rem'"
        style="float: left; margin-left: 10px"
        (click)="prevUserPage()"
        [disabled]="currentUserPage === 1"
      >
        < prevPage
      </button>
      <button
        class="dynamic-text-size"
        [style.fontSize]="fontSizeMultiplier + 'rem'"
        style="float: right; margin-right: 10px"
        (click)="nextUserPage()"
        [disabled]="getUserEndIndex() >= userProfiles!.length"
      >
        nextPage >
      </button>
    </div>

    <div class="button-container">
      <div class="title-box">
        <a class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'" style="font-size: 18px" href="../match"
          >Players In The Match</a
        >
      </div>
      <ng-container>
        <div
          class="list"
          style="margin: 20px"
          *ngFor="let match of matches!.slice(getMatchStartIndex(), getMatchEndIndex()); let i = index"
        >
          <div class="column" (click)="navigateToMatchLD(match.id)">
            <div class="bl">
              <div
                class="dynamic-text-size"
                [style.fontSize]="fontSizeMultiplier + 'rem'"
                style="float: left; margin-left: 15px; font-size: 20px"
              >
                {{ match?.home?.name }} vs {{ match?.away?.name }}
              </div>
              <br />
              <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">{{ match.date | formatMediumDatetime }}</span>
              <div></div>
            </div>
          </div>
        </div>
      </ng-container>
      <button
        class="dynamic-text-size"
        [style.fontSize]="fontSizeMultiplier + 'rem'"
        style="float: left; margin: 10px"
        (click)="prevMatchPage()"
        [disabled]="currentMatchPage === 1"
      >
        < prevPage
      </button>
      <button
        class="dynamic-text-size"
        [style.fontSize]="fontSizeMultiplier + 'rem'"
        style="float: right; margin: 10px"
        (click)="nextMatchPage()"
        [disabled]="getMatchEndIndex() >= matches!.length"
      >
        nextPage >
      </button>
    </div>
  </div>
</body>

<div *jhiHasAnyAuthority="'ROLE_ADMIN'">
  <h2 id="page-heading" data-cy="CommentHeading">
    <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Comments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-comment"
        [routerLink]="['/comment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'"> Create a new Comment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="comments?.length === 0">
    <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">No Comments found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="comments && comments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rating">
            <div class="d-flex">
              <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Rating</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="content">
            <div class="d-flex">
              <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Content</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="likeCount">
            <div class="d-flex">
              <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Like Count</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="replyingTo.id">
            <div class="d-flex">
              <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Replying To</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="author.id">
            <div class="d-flex">
              <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Author</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="targetUser.id">
            <div class="d-flex">
              <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Target User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="match.id">
            <div class="d-flex">
              <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Match</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comment of comments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/comment', comment.id, 'view']" class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">{{
              comment.id
            }}</a>
          </td>
          <td class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">{{ comment.rating }}</td>
          <td class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">{{ comment.content }}</td>
          <td class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">{{ comment.likeCount }}</td>
          <td>
            <div *ngIf="comment.replyingTo">
              <a [routerLink]="['/comment', comment.replyingTo.id, 'view']">{{ comment.replyingTo.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="comment.author">
              <a [routerLink]="['/user-profile', comment.author.id, 'view']">{{ comment.author.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="comment.targetUser">
              <a [routerLink]="['/user-profile', comment.targetUser.id, 'view']">{{ comment.targetUser.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="comment.match">
              <a [routerLink]="['/match', comment.match.id, 'view']">{{ comment.match.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/comment', comment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/comment', comment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(comment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
