<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-comment-heading" data-cy="CommentCreateUpdateHeading">Create or edit a Comment</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_rating">Rating</label>
          <input type="number" class="form-control" name="rating" id="field_rating" data-cy="rating" formControlName="rating" />
          <div *ngIf="editForm.get('rating')!.invalid && (editForm.get('rating')!.dirty || editForm.get('rating')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('rating')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('rating')?.errors?.min"> This field should be at least 0. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('rating')?.errors?.max"> This field cannot be more than 5. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('rating')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_content">Content</label>
          <input type="text" class="form-control" name="content" id="field_content" data-cy="content" formControlName="content" />
          <div *ngIf="editForm.get('content')!.invalid && (editForm.get('content')!.dirty || editForm.get('content')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('content')?.errors?.maxlength">
              This field cannot be longer than 256 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_likeCount">Like Count</label>
          <input type="number" class="form-control" name="likeCount" id="field_likeCount" data-cy="likeCount" formControlName="likeCount" />
          <div *ngIf="editForm.get('likeCount')!.invalid && (editForm.get('likeCount')!.dirty || editForm.get('likeCount')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('likeCount')?.errors?.min"> This field should be at least 0. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('likeCount')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_replyingTo">Replying To</label>
          <select
            class="form-control"
            id="field_replyingTo"
            data-cy="replyingTo"
            name="replyingTo"
            formControlName="replyingTo"
            [compareWith]="compareComment"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="commentOption" *ngFor="let commentOption of commentsSharedCollection">{{ commentOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_author">Author</label>
          <select
            class="form-control"
            id="field_author"
            data-cy="author"
            name="author"
            formControlName="author"
            [compareWith]="compareUserProfile"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userProfileOption" *ngFor="let userProfileOption of userProfilesSharedCollection">
              {{ userProfileOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_targetUser">Target User</label>
          <select
            class="form-control"
            id="field_targetUser"
            data-cy="targetUser"
            name="targetUser"
            formControlName="targetUser"
            [compareWith]="compareUserProfile"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userProfileOption" *ngFor="let userProfileOption of userProfilesSharedCollection">
              {{ userProfileOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_match">Match</label>
          <select class="form-control" id="field_match" data-cy="match" name="match" formControlName="match" [compareWith]="compareMatch">
            <option [ngValue]="null"></option>
            <option [ngValue]="matchOption" *ngFor="let matchOption of matchesSharedCollection">{{ matchOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
