<div class="d-flex justify-content-center update-page">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pitch-booking-heading" data-cy="PitchBookingCreateUpdateHeading">Create or edit a Pitch Booking</h2>

      <div class="container">
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
        <div class="row mb-3 book-date bbb">
          <label class="form-label">Booking Date</label>

          <mat-card class="demo-inline-calendar-card inner-container">
            <mat-calendar [(selected)]="selected" (selectedChange)="onDateSelected($event)"></mat-calendar>
          </mat-card>
          <!-- <p>Selected date: {{ selected }}</p>-->
          <!-- <button (click)="checkAvailability(selected)">Check Availability</button> -->
          <div *ngIf="editForm.get('bookingDate')!.invalid && (editForm.get('bookingDate')!.dirty || editForm.get('bookingDate')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('bookingDate')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('bookingDate')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3" *ngIf="isDateSelected">
          <label class="form-label">Time Slot</label>
          <div class="time-slot inner-container">
            <mat-select placeholder="Select Time Slot" (selectionChange)="onTimeSlotSelected($event.value)">
              <mat-option *ngFor="let slot of filteredTimeSlots" [value]="slot.value">{{ slot.viewValue }}</mat-option>
            </mat-select>
          </div>
          <div *ngIf="editForm.get('endTime')!.invalid && (editForm.get('endTime')!.dirty || editForm.get('endTime')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('endTime')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3 team-drop">
          <label class="form-label" for="field_team">Team</label>
          <!--
          <select class="form-control" id="field_team" data-cy="team" name="team" formControlName="team" [compareWith]="compareTeam">
            <option [ngValue]="null"></option>
            <option [ngValue]="teamOption" *ngFor="let teamOption of teamsSharedCollection">{{ teamOption.id }}</option>
          </select> -->
          <mat-select class="form-control" id="field_team" data-cy="team" name="team" formControlName="team" [compareWith]="compareTeam">
            <mat-option *ngFor="let teamOption of teamsSharedCollection" [value]="teamOption">{{ teamOption.name }}</mat-option>
          </mat-select>
        </div>

        <div class="row mb-3 pitch-drop">
          <label class="form-label" for="field_pitch">Pitch</label>
          <!--
          <select class="form-control" id="field_pitch" data-cy="pitch" name="pitch" formControlName="pitch" [compareWith]="comparePitch">
            <option [ngValue]="null"></option>
            <option [ngValue]="pitchOption" *ngFor="let pitchOption of pitchesSharedCollection">{{ pitchOption.name }}</option>
             <option *ngFor="let pitch of pitchesSharedCollection" [value]="pitch.id" [selected]="pitch.id === selectedPitchId">
              {{ pitch.name }}
            </option>
          </select>-->
          <mat-select
            [disabled]="doesIdExistFromJson"
            [compareWith]="comparePitch"
            class="form-control"
            id="field_pitch"
            data-cy="pitch"
            name="pitch"
            formControlName="pitch"
          >
            <mat-option *ngIf="doesIdExistFromJson" [value]="parsedCollection">{{ selectedPitchName }}</mat-option>
            <mat-option *ngFor="let pitchOption of pitchesSharedCollection" [value]="pitchOption">{{ pitchOption.name }}</mat-option>
          </mat-select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
