<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pitch-booking-heading" data-cy="PitchBookingCreateUpdateHeading">Create or edit a Pitch Booking</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
        <!--
        <div class="row mb-3">
          <label class="form-label" for="field_bookingDate">Booking Date</label>
          <div class="d-flex">
            <input
              id="field_bookingDate"
              data-cy="bookingDate"
              type="datetime-local"
              class="form-control"
              name="bookingDate"
              formControlName="bookingDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('bookingDate')!.invalid && (editForm.get('bookingDate')!.dirty || editForm.get('bookingDate')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('bookingDate')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('bookingDate')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>
        -->
        <div class="row mb-3">
          <label class="form-label">Booking Date</label>
          <div class="d-flex">
            <ngb-datepicker #dp (dateSelect)="onDateSelected($event)" name="bookingDate"></ngb-datepicker>
            <button class="btn btn-primary" (click)="checkAvailability()">Check Availability</button>
          </div>
          <div *ngIf="editForm.get('bookingDate')!.invalid && (editForm.get('bookingDate')!.dirty || editForm.get('bookingDate')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('bookingDate')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('bookingDate')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>
        <!--
        <div class="row mb-3" *ngIf="isDateSelected">
          <label class="form-label" for="field_startTime">Start Time</label>
          <div class="d-flex">
            <input
              id="field_startTime"
              data-cy="startTime"
              type="datetime-local"
              class="form-control"
              name="startTime"
              formControlName="startTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('startTime')!.invalid && (editForm.get('startTime')!.dirty || editForm.get('startTime')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('startTime')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('startTime')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>
        -->
        <div class="row mb-3" *ngIf="isDateSelected">
          <label class="form-label">Start Time</label>
          <div class="d-flex">
            <ngb-timepicker [(ngModel)]="startTime" [seconds]="false"></ngb-timepicker>
          </div>
          <div *ngIf="editForm.get('startTime')!.invalid && (editForm.get('startTime')!.dirty || editForm.get('startTime')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('startTime')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('startTime')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3" *ngIf="isDateSelected">
          <label class="form-label" for="field_endTime">End Time</label>
          <div class="d-flex">
            <input
              id="field_endTime"
              data-cy="endTime"
              type="datetime-local"
              class="form-control"
              name="endTime"
              formControlName="endTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('endTime')!.invalid && (editForm.get('endTime')!.dirty || editForm.get('endTime')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('endTime')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('endTime')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>
        <div class="row mb-3">
          <label class="form-label" for="field_team">Team</label>
          <select class="form-control" id="field_team" data-cy="team" name="team" formControlName="team" [compareWith]="compareTeam">
            <option [ngValue]="null"></option>
            <option [ngValue]="teamOption" *ngFor="let teamOption of teamsSharedCollection">{{ teamOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pitch">Pitch</label>
          <select class="form-control" id="field_pitch" data-cy="pitch" name="pitch" formControlName="pitch" [compareWith]="comparePitch">
            <option [ngValue]="null"></option>
            <!-- <option [ngValue]="pitchOption" *ngFor="let pitchOption of pitchesSharedCollection">{{ pitchOption.id }}</option> -->
            <option *ngFor="let pitch of pitchesSharedCollection" [value]="pitch.id" [selected]="pitch.id === selectedPitchId">
              {{ pitch.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
