<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="tournament">
      <h2 data-cy="tournamentDetailsHeading"><span>Tournament</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ tournament.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ tournament.name }}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
          <span>{{ tournament.startDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
          <span>{{ tournament.endDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
          <span>{{ tournament.location }}</span>
        </dd>
        <dt><span>Max Teams</span></dt>
        <dd>
          <span>{{ tournament.maxTeams }}</span>
        </dd>
        <dt><span>Teams</span></dt>
        <dd>
          <span *ngFor="let teams of tournament.teams; let last = last">
            <a [routerLink]="['/team', teams.id, 'view']">{{ teams.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/tournament', tournament.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
