@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.sub-navbar {
  background-color: #029352;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  top: 77px;
  left: 0;
  z-index: 1000;
  height: 50px;
}

.topAlert {
  position: fixed;
  top: 120px;
  left: 10%;
  width: 80%;
}

.left-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: white;
  padding-left: 2em;
  font-size: 1.1em;
  font-weight: 600;
  position: relative;

  background: linear-gradient(to right, #2e0038, #2e0038 50%, white 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 202% 102%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.link:hover {
  background-position: 0%;
}
.details-button {
  cursor: pointer;
}
.link2 {
  margin-left: 2em;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  left: calc(100% + 13px);
  bottom: 27%;
  transform: translateY(50%);
}

.down {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.right-nav {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

#join-button {
  text-decoration: none;
  font-size: 1.25em;
  color: #ffffff;
  background-color: #444444;
  border-radius: 20px;
  height: 35px;
  padding: 0 18px;
  // font-weight: bold;
  transition: all 1ms ease;
  border: none;
  margin-right: 1.5em;
}

#join-button:hover {
  background-color: #ffffff;
  color: #029352;
}

#pageImage {
  width: 100%;
  margin: 0;
  height: 95vh;
  padding-top: 45px;
  margin-bottom: 200px;
}
.image-container-h2 {
  position: absolute;
  z-index: 13;
  color: white;
  font-size: 5.5vw;
  text-transform: uppercase;
  right: 10%;
  top: 8%;
  width: 30vw;
  line-height: 6vw;
  text-shadow: 5px 3px 0px var(--rt-dark-blue);
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-family: 'Anton';
  text-decoration: none;
  cursor: pointer;
}
.image-container-h2:hover {
  color: #5ada86;
}

.title {
  font-family: 'Anton';
  padding-bottom: 50px;
  font-size: 5.5vw;
  text-transform: uppercase;
  line-height: 6vw;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.tournament-container {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top: 6em;
}

.tournament-card {
  background-color: #029352;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 85vw;
}

.tournament-details > h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Anton';
  text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
}
.marker {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 2rem;
  background: #aa3300;
  display: inline-block;
  border-bottom-right-radius: 0;
  position: relative;
  transform: rotate(45deg);
  border: 1px solid #881100;
  margin-left: 2px;
}

.marker::before {
  content: '';
  background: white;
  width: 50%;
  height: 50%;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.detail {
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;

  text-align: center;
}

.tournament-info {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: medium;
}
#tournament-info {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
  line-height: 45px;
}

.team-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vw;
}

.team-list img {
  max-height: 7vh;
  max-width: 7wh;
  aspect-ratio: 1;
  border-radius: 10%;
  margin-bottom: 20px;
}

.team-item {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.team-item {
  text-decoration: none;
  color: black;
}
.tournament-popUp {
  border: solid 2px #5ada86;
  width: 15em;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100%;
  z-index: 1000;
  background-color: #029352;
  color: white;
}

.popUp-info {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.popUp-info2 {
  margin-left: 1em;
}

#join-button2 {
  position: absolute;
  left: 47%;
  bottom: 3.5%;
  text-decoration: none;
  font-size: 1.25em;
  color: white;
  background-color: #444444;
  border-radius: 20px;
  height: 35px;
  padding: 0 25px;
  font-weight: bold;
  transition: all 1ms ease;
  border: none;
  margin-right: 1.5em;
}

#join-button2:hover {
  background-color: white;
  color: #444444;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 21px solid #029352;
  position: absolute;
  top: -10%;
  left: 40%;
}

$base-font-size: 16px;

.dynamic-text-size {
  font-size: 100%;
}

.dynamic-heading {
  font-size: 150%;
}
