<!-- /Abdelmalek -->
<!-- the app nav bar  -->
<!-- <div class="navbar section">
  <a href="/tournament" class="selected">Tournaments</a>
  <a href="/team">Teams</a>
  <a href="/player-profile">Players</a>
  <a href="/pitch">Pitches</a>
  <a href="/leaderboard">Leaderboards</a>
</div> -->
<img id="pageImage" style="margin-bottom: -1.5%" src="./../../../content/images/FootballTournamentBanner.png" alt="tournament image" />

<div class="sub-navbar">
  <div class="left-nav">
    <div>
      <a class="link" href="/groups" target="_self">Groups</a>
    </div>
    <div class="relative-container">
      <span class="link">Details <i class="arrow down"></i></span>
    </div>
    <div>
      <a class="link link2" href="/matches" target="_self">Matches</a>
    </div>
  </div>
  <div class="right-nav">
    <a id="join-button" href="/tournament/new">Join</a>
  </div>
</div>

<!-- /Abdelmalek -->

<div style="display: none">
  <h2 id="page-heading" data-cy="TournamentHeading">
    <span>Tournament</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tournament"
        [routerLink]="['/tournament/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Tournament </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tournaments?.length === 0">
    <span>No Tournaments found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="tournaments && tournaments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <div class="d-flex">
              <span>Start Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endDate">
            <div class="d-flex">
              <span>End Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="location">
            <div class="d-flex">
              <span>Location</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="maxTeams">
            <div class="d-flex">
              <span>Max Teams</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="teams.id">
            <div class="d-flex">
              <span>Teams</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tournament of tournaments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tournament', tournament.id, 'view']">{{ tournament.id }}</a>
          </td>
          <td>{{ tournament.name }}</td>
          <td>{{ tournament.startDate | formatMediumDatetime }}</td>
          <td>{{ tournament.endDate | formatMediumDatetime }}</td>
          <td>{{ tournament.location }}</td>
          <td>{{ tournament.maxTeams }}</td>
          <td>
            <span *ngFor="let teams of tournament.teams; let last = last">
              <a class="form-control-static" [routerLink]="['/team', teams.id, 'view']">{{ teams.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tournament', tournament.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tournament', tournament.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(tournament)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
