.main-page {
  margin-top: 3em;
}

.wholebackground {
  background-color: #f8f9fa; /* Light background color */
  border: 1px solid #dee2e6; /* Soft border */
  border-radius: 10px; /* Rounded corners */
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

img.userProfilePic {
  border-radius: 50%;
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img.teamPic {
  border-radius: 50%;
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-center {
  display: flex;
  flex-direction: column;
  column-count: 1;
  align-items: center;
}

img.rating {
  width: 200px;
  margin-bottom: 25px;
}

div {
  padding: 10px;
}

div.pictures {
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); /* Responsive grid */
  gap: 20px; /* Spacing between grid items */
}

.grid-items {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.position-images {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
}

.position-avaliability {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.day-container {
  display: flex;
  width: 100%;
}

.day {
  background-color: green;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  border: 1px solid black;
  margin: 1px;
  border-radius: 4px;
}

.day:last-child {
  margin-right: 0;
}

.inactive {
  background-color: red;
}

.unknown {
  background-color: grey;
}

.team-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

$base-font-size: 16px; /* Adjusted base font size to 16px */

.dynamic-text-size {
  font-size: 100%; /* Default font size relative to parent element */
}

.dynamic-heading {
  font-size: 150%; /* Default heading font size, adjusted relative to parent element */
}
