<div class="d-flex justify-content-center main-page">
  <div class="col-8 wholebackground">
    <div *ngIf="userProfile">
      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <div class="text-center image-center">
          <dd>
            <div *ngIf="userProfile.profilePic; else noPic">
              <a (click)="openFile(userProfile.profilePic, userProfile.profilePicContentType)">
                <img
                  [src]="'data:' + userProfile.profilePicContentType + ';base64,' + userProfile.profilePic"
                  alt="user's profile picture"
                  class="userProfilePic"
                />
              </a>
            </div>
          </dd>
          <a (click)="goToUsersComments(userProfile.id)">
            <svg width="200" height="100" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <g transform="translate(0, 0)">
                <polygon
                  points="25,7 30.5,17.5 41,17.5 33,25 35.5,35.5 25,30 14.5,35.5 17,25 11,17.5 19.5,17.5"
                  [style.fill]="userRating >= 1 ? 'green' : 'none'"
                  style="stroke: green; stroke-width: 1px"
                />
              </g>
              <g transform="translate(40, 0)">
                <polygon
                  points="25,7 30.5,17.5 41,17.5 33,25 35.5,35.5 25,30 14.5,35.5 17,25 11,17.5 19.5,17.5"
                  [style.fill]="userRating >= 2 ? 'green' : 'none'"
                  style="stroke: green; stroke-width: 1px"
                />
              </g>
              <g transform="translate(80, 0)">
                <polygon
                  points="25,7 30.5,17.5 41,17.5 33,25 35.5,35.5 25,30 14.5,35.5 17,25 11,17.5 19.5,17.5"
                  [style.fill]="userRating >= 3 ? 'green' : 'none'"
                  style="stroke: green; stroke-width: 1px"
                />
              </g>
              <g transform="translate(120, 0)">
                <polygon
                  points="25,7 30.5,17.5 41,17.5 33,25 35.5,35.5 25,30 14.5,35.5 17,25 11,17.5 19.5,17.5"
                  [style.fill]="userRating >= 4 ? 'green' : 'none'"
                  style="stroke: green; stroke-width: 1px"
                />
              </g>
              <g transform="translate(160, 0)">
                <polygon
                  points="25,7 30.5,17.5 41,17.5 33,25 35.5,35.5 25,30 14.5,35.5 17,25 11,17.5 19.5,17.5"
                  [style.fill]="userRating >= 5 ? 'green' : 'none'"
                  style="stroke: green; stroke-width: 1px"
                />
              </g>
            </svg>
          </a>

          <img
            src="../../../content/images/refereeIcon.svg"
            *ngIf="userProfile?.referee; else playerTemplate"
            alt="Image indicating that the user is a referee"
            class="rating"
          />

          <ng-template #noPic>
            <img
              src="../../../content/images/DefaultProfilePicture.jpg"
              alt="Image of the default user rofile picture"
              class="userProfilePic"
            />
          </ng-template>
          <ng-template #playerTemplate>
            <img src="../../../content/images/PlayerIcon.svg" alt="Image indicating that the user is a player" class="rating" />
          </ng-template>
          <ng-template #noTeam>
            <h3 class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier * 2.2 + 'rem'">Not currently playing for a team</h3>
          </ng-template>
        </div>

        <div class="section">
          <div class="grid-container">
            <div class="grid-items">
              <dt><span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Name</span></dt>
              <dd>
                <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">{{ userProfile.name }}</span>
              </dd>
            </div>

            <div class="grid-items">
              <dt><span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Location</span></dt>
              <dd>
                <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">{{ userProfile.location }}</span>
              </dd>
            </div>

            <div class="grid-items">
              <dt><span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Gender</span></dt>
              <dd>
                <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">{{ userProfile.gender }}</span>
              </dd>
            </div>

            <div class="grid-items">
              <dt><span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Player Since</span></dt>
              <dd>
                <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">{{
                  userProfile.created | formatMediumDate
                }}</span>
              </dd>
            </div>
          </div>

          <div class="position-images text-center">
            <div class="text-center position-avaliability">
              <div class="day-container">
                <!-- set the class depending on user's avaliability -->
                <div
                  [ngClass]="{ unknown: dayAvaliability[0] == 0, inactive: dayAvaliability[0] == 2 }"
                  class="dynamic-text-size day"
                  [style.fontSize]="fontSizeMultiplier + 'rem'"
                >
                  M
                </div>
                <div
                  [ngClass]="{ unknown: dayAvaliability[1] == 0, inactive: dayAvaliability[1] == 2 }"
                  class="dynamic-text-size day"
                  [style.fontSize]="fontSizeMultiplier + 'rem'"
                >
                  T
                </div>
                <div
                  [ngClass]="{ unknown: dayAvaliability[2] == 0, inactive: dayAvaliability[2] == 2 }"
                  class="dynamic-text-size day"
                  [style.fontSize]="fontSizeMultiplier + 'rem'"
                >
                  W
                </div>
                <div
                  [ngClass]="{ unknown: dayAvaliability[3] == 0, inactive: dayAvaliability[3] == 2 }"
                  class="dynamic-text-size day"
                  [style.fontSize]="fontSizeMultiplier + 'rem'"
                >
                  T
                </div>
                <div
                  [ngClass]="{ unknown: dayAvaliability[4] == 0, inactive: dayAvaliability[4] == 2 }"
                  class="dynamic-text-size day"
                  [style.fontSize]="fontSizeMultiplier + 'rem'"
                >
                  F
                </div>
                <div
                  [ngClass]="{ unknown: dayAvaliability[5] == 0, inactive: dayAvaliability[5] == 2 }"
                  class="dynamic-text-size day"
                  [style.fontSize]="fontSizeMultiplier + 'rem'"
                >
                  S
                </div>
                <div
                  [ngClass]="{ unknown: dayAvaliability[6] == 0, inactive: dayAvaliability[6] == 2 }"
                  class="dynamic-text-size day"
                  [style.fontSize]="fontSizeMultiplier + 'rem'"
                >
                  S
                </div>
              </div>

              <button type="submit" (click)="openModal()" class="btn btn-primary" data-cy="entityModalButton">
                <fa-icon icon="phone"></fa-icon>
                <span class="d-none d-md-inline dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Contact</span>
              </button>
            </div>
            <!-- add code to change image depending on position-->
            <figure class="text-center position-avaliability">
              <img
                [src]="['../../../content/images/position-' + userProfile!.position + '.svg']"
                alt="Image indicating the user's position"
                height="200"
              />
              <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">{{ userProfile!.position }}</span>
            </figure>
          </div>

          <dd>
            <div class="team-container grid-items">
              <div *ngIf="userProfile.team; else noTeam">
                <h3 class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier * 2 + 'rem'">Team</h3>
                <div class="team-items" [routerLink]="['/team', userProfile.team.id, 'view']">
                  <div *ngIf="usersTeam?.image; else playerTemplate">
                    <img
                      [src]="'data:' + usersTeam?.imageContentType + ';base64,' + usersTeam?.image"
                      alt="image of team logo"
                      class="teamPic"
                    />
                  </div>
                  <p class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">{{ usersTeam?.name }}</p>
                </div>
              </div>
            </div>
          </dd>
        </div>
      </dl>

      <div class="footer">
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'"
            >Back</span
          >
        </button>

        <button
          type="button"
          [routerLink]="['/user-profile', userProfile.id, 'edit']"
          class="btn btn-primary"
          *ngIf="theAccount?.id == userProfile.id"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'"
            >Edit</span
          >
        </button>
      </div>
    </div>
  </div>
</div>
