<div class="d-flex justify-content-center">
  <div class="col-8 wholebackground">
    <div *ngIf="userProfile">
      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <div class="text-center image-center">
          <dd>
            <div *ngIf="userProfile.profilePic; else noPic">
              <a (click)="openFile(userProfile.profilePic, userProfile.profilePicContentType)">
                <img
                  [src]="'data:' + userProfile.profilePicContentType + ';base64,' + userProfile.profilePic"
                  alt="userProfile image"
                  class="userProfilePic"
                />
              </a>
            </div>
          </dd>
          <svg width="200" height="100" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <g transform="translate(0, 0)">
              <polygon
                points="25,7 30.5,17.5 41,17.5 33,25 35.5,35.5 25,30 14.5,35.5 17,25 11,17.5 19.5,17.5"
                style="fill: green; stroke: green; stroke-width: 1px"
              />
            </g>
            <g transform="translate(40, 0)">
              <polygon
                points="25,7 30.5,17.5 41,17.5 33,25 35.5,35.5 25,30 14.5,35.5 17,25 11,17.5 19.5,17.5"
                style="fill: green; stroke: green; stroke-width: 1px"
              />
            </g>
            <g transform="translate(80, 0)">
              <polygon
                points="25,7 30.5,17.5 41,17.5 33,25 35.5,35.5 25,30 14.5,35.5 17,25 11,17.5 19.5,17.5"
                style="fill: green; stroke: green; stroke-width: 1px"
              />
            </g>
            <g transform="translate(120, 0)">
              <polygon
                points="25,7 30.5,17.5 41,17.5 33,25 35.5,35.5 25,30 14.5,35.5 17,25 11,17.5 19.5,17.5"
                style="fill: none; stroke: green; stroke-width: 1px"
              />
            </g>
            <g transform="translate(160, 0)">
              <polygon
                points="25,7 30.5,17.5 41,17.5 33,25 35.5,35.5 25,30 14.5,35.5 17,25 11,17.5 19.5,17.5"
                style="fill: none; stroke: green; stroke-width: 1px"
              />
            </g>
          </svg>

          <img
            src="../../../content/images/refereeIcon.svg"
            *ngIf="userProfile?.referee; else playerTemplate"
            alt="is Referee"
            class="rating"
          />

          <ng-template #noPic>
            <img src="../../../content/images/DefaultProfilePicture.jpg" alt="default image" class="userProfilePic" />
          </ng-template>
          <ng-template #playerTemplate>
            <img src="../../../content/images/PlayerIcon.svg" alt="is Player" class="rating" />
          </ng-template>
        </div>

        <div class="section">
          <div class="grid-container">
            <div class="grid-items">
              <dt><span>Name</span></dt>
              <dd>
                <span>{{ userProfile.name }}</span>
              </dd>
            </div>

            <div class="grid-items">
              <dt><span>Location</span></dt>
              <dd>
                <span>{{ userProfile.location }}</span>
              </dd>
            </div>

            <div class="grid-items">
              <dt><span>Gender</span></dt>
              <dd>
                <span>{{ userProfile.gender }}</span>
              </dd>
            </div>

            <div class="grid-items">
              <dt><span>Player Since</span></dt>
              <dd>
                <span>{{ userProfile.created | formatMediumDate }}</span>
              </dd>
            </div>
          </div>

          <div class="position-images text-center">
            <div class="text-center position-avaliability">
              <div class="day-container">
                <!-- set the class depending on user's avaliability -->
                <div class="day inactive">M</div>
                <div class="day">T</div>
                <div class="day">W</div>
                <div class="day">T</div>
                <div class="day">F</div>
                <div class="day inactive">S</div>
                <div class="day inactive">S</div>
              </div>

              <button type="submit" (click)="openModal()" class="btn btn-primary" data-cy="entityModalButton">
                <fa-icon icon="phone"></fa-icon>
                <span class="d-none d-md-inline">Contact</span>
              </button>
            </div>
            <!-- add code to change image depending on position-->
            <figure class="text-center position-avaliability">
              <img [src]="['../../../content/images/position-' + userProfile!.position + '.svg']" alt="position image" height="200" />
            </figure>
          </div>

          <dd>
            <span>Team</span>
            <div class="team-container">
              <div *ngIf="userProfile.team">
                <a [routerLink]="['/team', userProfile.team.id, 'view']" class="team-items">{{ usersTeam?.name }}</a>
                <div *ngIf="usersTeam?.image; else playerTemplate" class="team-items">
                  <img [src]="'data:' + usersTeam?.imageContentType + ';base64,' + usersTeam?.image" alt="team image" class="rating" />
                </div>
              </div>
            </div>
          </dd>
        </div>
      </dl>

      <div class="footer">
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button
          type="button"
          [routerLink]="['/user-profile', userProfile.id, 'edit']"
          class="btn btn-primary"
          *ngIf="theAccount?.id == userProfile.id"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    </div>
  </div>
</div>
