#matchBox {
  margin: auto;
  margin-top: 65px;

  padding: 10px;
  background: #f7f7f7;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#matchNav {
  position: relative;
  align-items: stretch;
  color: white;
  margin: -10px;
  background: #919191;
  border-radius: 10px;
  height: auto;
}

#matchNext {
  width: 160px;
  color: white;
  position: absolute;
  right: 0;
  background: #029352;
  height: 100%;
}

#matchPrev {
  width: 160px;
  color: white;
  position: absolute;
  left: 0;
  background: #029352;
  height: 100%;
}
