#matchBox {
  margin: auto;
  margin-top: 65px;

  padding: 10px;
  background: #f7f7f7;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#matchNav {
  position: relative;
  align-items: stretch;
  color: white;
  margin: -10px;
  background: #919191;
  border-radius: 10px;
  height: auto;
  margin-bottom: 20px;
}

#matchNext {
  width: 160px;
  color: white;
  position: absolute;
  right: 0;
  background: #025f35;
  height: 100%;
}

#matchPrev {
  width: 160px;
  color: white;
  position: absolute;
  left: 0;
  background: #025f35;
  height: 100%;
}

.teamLogo {
  border-radius: 5px;
  width: 35px;
  height: 35px;
}

.vs {
  font-size: 24px;
  text-align: center;
}

.matchItem {
  padding: 5px;
  text-decoration: none;
  color: inherit;
  display: flex;
  background: #b3b3b3;
  margin: 10px;
  border-radius: 10px;
}

.home {
  text-align: right;
}

.away {
  text-align: left;
}

.matchDay {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #000000;
  width: 10%;
}

$base-font-size: 16px;

.dynamic-text-size {
  font-size: 100%;
}

.dynamic-heading {
  font-size: 150%;
}
