<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>file_1709641705412</title>
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
        text-indent: 0;
      }
      h1 {
        color: black;
        font-family: Cambria, serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 19pt;
      }
      h4 {
        color: #565656;
        font-family: Cambria, serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 10pt;
      }
      .p,
      p {
        color: #565656;
        font-family: Cambria, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
        margin: 0pt;
      }
      .s1 {
        color: #2d2def;
        font-family: Cambria, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }
      .a,
      a {
        color: #2d2def;
        font-family: Cambria, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: underline;
        font-size: 10pt;
      }
      h2 {
        color: black;
        font-family: Cambria, serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 14pt;
      }
      .s2 {
        color: #565656;
        font-family: Cambria, serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
        font-size: 10pt;
      }
      .h3 {
        color: black;
        font-family: Cambria, serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 13pt;
      }
      .s4 {
        color: #565656;
        font-family: Cambria, serif;
        font-style: italic;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }
      .s5 {
        color: #565656;
        font-family: Cambria, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
      }
      .s6 {
        color: #565656;
        font-family: Cambria, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }
      .s7 {
        color: black;
        font-family: Cambria, serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 13pt;
      }
      li {
        display: block;
      }
      #l1 {
        padding-left: 0pt;
        counter-reset: c1 1;
      }
      #l1 > li > *:first-child:before {
        counter-increment: c1;
        content: counter(c1, decimal) '. ';
        color: #2d2def;
        font-family: Cambria, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }
      #l1 > li:first-child > *:first-child:before {
        counter-increment: c1 0;
      }
      li {
        display: block;
      }
      #l2 {
        padding-left: 0pt;
        counter-reset: d1 5;
      }
      #l2 > li > *:first-child:before {
        counter-increment: d1;
        content: counter(d1, decimal) '. ';
        color: #2d2def;
        font-family: Cambria, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }
      #l2 > li:first-child > *:first-child:before {
        counter-increment: d1 0;
      }
      li {
        display: block;
      }
      #l3 {
        padding-left: 0pt;
        counter-reset: e1 1;
      }
      #l3 > li > *:first-child:before {
        counter-increment: e1;
        content: counter(e1, decimal) '. ';
        color: black;
        font-family: Cambria, serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 14pt;
      }
      #l3 > li:first-child > *:first-child:before {
        counter-increment: e1 0;
      }
    </style>
  </head>
  <body>
    <h1 style="margin-top: 45px; padding-top: 4pt; padding-left: 5pt; text-indent: 0pt; text-align: left">PRIVACY POLICY</h1>
    <h4 style="padding-top: 14pt; padding-left: 5pt; text-indent: 0pt; text-align: left">Last updated March 05, 2024</h4>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
      This privacy notice for Team 14 (&quot;<b>we</b>,&quot; &quot;<b>us</b>,&quot; or &quot;<b>our</b>&quot; ), describes how and why we
      might collect, store, use, and/or share (&quot;<b>process</b>&quot;) your information when you use our services
      (&quot;<b>Services</b>&quot;), such as when you: Visit our website at
      <span style="color: #2d2def"><a href="https://team14.bham.team" target="__blank">https://team14.bham.team</a> </span>, or any website
      of ours that links to this privacy notice.
    </p>
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
      Engage with us in other related ways, including any sales, marketing, or events.
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <h4 style="padding-left: 5pt; text-indent: 0pt; text-align: left">
      Questions or concerns? Reading this privacy notice will help you understand your privacy rights and choices. If you do not agree with
      our policies and practices, please do not use our Services. If you still have any questions or concerns, please contact either member
      of our team at:
    </h4>

    <ul style="margin-left: 1em; margin-top: 0.5em">
      <li>- <a href="mailto:zxq190@student.bham.ac.uk">zxq190@student.bham.ac.uk</a></li>
      <li>- <a href="mailto:axm1962@student.bham.ac.uk">axm1962@student.bham.ac.uk</a></li>
      <li>- <a href="mailto:mxp356@student.bham.ac.uk">mxp356@student.bham.ac.uk</a></li>
      <li>- <a href="mailto:sxc1477@student.bham.ac.uk">sxc1477@student.bham.ac.uk</a></li>
      <li>- <a href="mailto:zxc181@student.bham.ac.uk">zxc181@student.bham.ac.uk</a></li>
      <li>- <a href="mailto:jxo256@student.bham.ac.uk">jxo256@student.bham.ac.uk</a></li>
      <li>- <a href="mailto:bxs227@student.bham.ac.uk">bxs227@student.bham.ac.uk</a></li>
    </ul>

    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <h2 style="padding-left: 5pt; text-indent: 0pt; text-align: left">SUMMARY OF KEY POINTS</h2>
    <p class="s2" style="padding-top: 13pt; padding-left: 5pt; text-indent: 0pt; text-align: left">
      This summary provides key points from our privacy notice, but you can find out more details about any of these topics by clicking the
      link following each key point or by using our <span style="color: #2d2def">table of contents </span>below to find the section you are
      looking for.
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
      <b>What personal information do we process? </b>When you visit, use, or navigate our Services, we may process personal information
      depending on how you interact with us and the Services, the choices you make, and the features you use. Learn more about
      <span style="color: #2d2def">personal information you disclose to us </span>.
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <h4 style="padding-left: 5pt; text-indent: 0pt; text-align: left">
      Do we process any sensitive personal information? <span class="p">We do not process sensitive personal information. </span>Do we
      receive any information from third parties? <span class="p">We do not receive any information from third parties.</span>
    </h4>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
      <b>How do we process your information? </b>We process your information to provide, improve, and administer our Services, communicate
      with you, for security and fraud prevention, and to comply with law. We may also process your information for other purposes with your
      consent. We process your information only when we have a valid legal reason to do so. Learn more about
      <span style="color: #2d2def">how we process your information </span>.
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
      <b>In what situations and with which parties do we share personal information? </b>We may share information in specific situations and
      with specific third parties. Learn more about
      <span style="color: #2d2def">when and with whom we share your personal information </span>.
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
      <b>How do we keep your information safe? </b>We have organizational and technical processes and procedures in place to protect your
      personal information. However, no electronic transmission over the internet or information storage technology can be guaranteed to be
      100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorized third parties will not be able to
      defeat our security and improperly collect, access, steal, or modify your information. Learn more about
      <span style="color: #2d2def">how we keep your information safe </span>.
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: justify">
      <b>What are your rights? </b>Depending on where you are located geographically, the applicable privacy law may mean you have certain
      rights regarding your personal information. Learn more about <span style="color: #2d2def">your privacy rights </span>.
    </p>
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
      <b>How do you exercise your rights? </b>The easiest way to exercise your rights is by visiting
      <span style="color: #2d2def"
        ><a href="https://team14.bham.team/account/settings" target="__blank">https://team14.bham.team/account/settings</a></span
      >, or by contacting us. We will consider and act upon any request in accordance with
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: justify">applicable data protection laws.</p>
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
      Want to learn more about what we do with any information we collect?
      <span style="color: #2d2def">Review the privacy notice in full </span>.
    </p>
    <h2 style="padding-top: 4pt; padding-left: 5pt; text-indent: 0pt; text-align: left">TABLE OF CONTENTS</h2>
    <ol id="l1">
      <li data-list-text="1.">
        <p class="s1" style="padding-top: 14pt; padding-left: 14pt; text-indent: -9pt; line-height: 12pt; text-align: left">
          WHAT INFORMATION DO WE COLLECT?
        </p>
      </li>
      <li data-list-text="2.">
        <p class="s1" style="padding-left: 14pt; text-indent: -9pt; line-height: 12pt; text-align: left">
          HOW DO WE PROCESS YOUR INFORMATION?
        </p>
      </li>
      <li data-list-text="3.">
        <p class="s1" style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          WHAT LEGAL BASES DO WE RELY ON TO PROCESS YOUR PERSONAL INFORMATION? 4. WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?
        </p>
      </li>
    </ol>
    <ol id="l2">
      <li data-list-text="5.">
        <p class="s1" style="padding-left: 14pt; text-indent: -9pt; text-align: left">DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</p>
      </li>
      <li data-list-text="6.">
        <p class="s1" style="padding-left: 14pt; text-indent: -9pt; text-align: left">HOW LONG DO WE KEEP YOUR INFORMATION?</p>
      </li>
      <li data-list-text="7.">
        <p class="s1" style="padding-left: 14pt; text-indent: -9pt; text-align: left">HOW DO WE KEEP YOUR INFORMATION SAFE?</p>
      </li>
      <li data-list-text="8.">
        <p class="s1" style="padding-left: 14pt; text-indent: -9pt; line-height: 12pt; text-align: left">
          DO WE COLLECT INFORMATION FROM MINORS?
        </p>
      </li>
      <li data-list-text="9.">
        <p class="s1" style="padding-left: 14pt; text-indent: -9pt; line-height: 12pt; text-align: left">WHAT ARE YOUR PRIVACY RIGHTS?</p>
      </li>
      <li data-list-text="10.">
        <p class="s1" style="padding-left: 20pt; text-indent: -15pt; text-align: left">CONTROLS FOR DO-NOT-TRACK FEATURES</p>
      </li>
      <li data-list-text="11.">
        <p class="s1" style="padding-left: 20pt; text-indent: -15pt; text-align: left">DO WE MAKE UPDATES TO THIS NOTICE?</p>
      </li>
      <li data-list-text="12.">
        <p class="s1" style="padding-left: 20pt; text-indent: -15pt; text-align: left">HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</p>
      </li>
      <li data-list-text="13.">
        <p class="s1" style="padding-left: 20pt; text-indent: -15pt; text-align: left">
          HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?
        </p>
      </li>
    </ol>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <ol id="l3">
      <li data-list-text="1.">
        <h2 style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          WHAT INFORMATION DO WE COLLECT? <span class="h3">Personal information you disclose to us</span>
        </h2>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p class="s2" style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          In Short: <span class="s4">We collect personal information that you provide to us.</span>
        </p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          We collect personal information that you voluntarily provide to us when you register on the Services, express an interest in
          obtaining information about us or our Services, when you participate in activities on
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">the Services, or otherwise when you contact us.</p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <h4 style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          Personal Information Provided by You.
          <span class="p"
            >The personal information that we collect depends on the context of your interactions with us and the Services, the choices you
            make, and the features you use. The personal information we collect may include the following:</span
          >
        </h4>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">names</p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">phone numbers email addresses usernames passwords</p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <h4 style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          Sensitive Information. <span class="p">We do not process sensitive information.</span>
        </h4>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          All personal information that you provide to us must be true, complete, and accurate, and you must notify us of any changes to
          such personal information.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="2.">
        <h2 style="padding-left: 19pt; text-indent: -14pt; text-align: left">HOW DO WE PROCESS YOUR INFORMATION?</h2>
        <p class="s2" style="padding-top: 14pt; padding-left: 5pt; text-indent: 0pt; text-align: left">
          In Short:
          <span class="s4"
            >We process your information to provide, improve, and administer our Services, communicate with you, for security and fraud
            prevention, and to comply with law. We may also process your information for other purposes with your consent.</span
          >
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <h4 style="padding-left: 5pt; text-indent: 0pt; text-align: justify">
          We process your personal information for a variety of reasons, depending on how you interact with our Services, including:
        </h4>
        <h4 style="padding-left: 5pt; text-indent: 0pt; text-align: justify">
          To facilitate account creation and authentication and otherwise manage user accounts.
          <span class="p"
            >We may process your information so that you can create and log in to your account, as well as keep your account in a working
            state.</span
          >
        </h4>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">order.</p>
        <h4 style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          To respond to user inquiries/offer support to users.
          <span class="p"
            >We may process your information to respond to your inquiries and solve any potential issues you might have with the requested
            service.</span
          >
        </h4>
        <h4 style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          To send administrative information to you.
          <span class="p"
            >We may process your information to send you details about our services, changes to our terms and policies, and other similar
            information. </span
          >To enable user-to-user communications.
          <span class="p">We may process your information if you choose to use any of our offerings that</span>
        </h4>
        <p style="padding-top: 4pt; padding-left: 5pt; text-indent: 0pt; text-align: left">allow for communication with another user.</p>
        <h4 style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          To save or protect an individual&#39;s vital interest.
          <span class="p"
            >We may process your information when necessary to save or protect an individual’s vital interest, such as to prevent
            harm.</span
          >
        </h4>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="3.">
        <h2 style="padding-left: 5pt; text-indent: 0pt; text-align: left">WHAT LEGAL BASES DO WE RELY ON TO PROCESS YOUR INFORMATION?</h2>
        <p class="s2" style="padding-top: 13pt; padding-left: 5pt; text-indent: 0pt; text-align: left">
          In Short:
          <span class="s4"
            >We only process your personal information when we believe it is necessary, and we have a valid legal reason (i.e., legal basis)
            to do so under applicable law, like with your consent, to comply with laws, to provide you with services to enter into or
            fulfill our contractual obligations, to protect your rights, or to fulfill our legitimate business interests.</span
          >
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          The General Data Protection Regulation (GDPR) and UK GDPR require us to explain the valid legal bases we rely on in order to
          process your personal information. As such, we may rely on the following legal bases to process your personal information:
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          <b>Consent. </b>We may process your information if you have given us permission (i.e., consent) to use your personal information
          for a specific purpose. You can withdraw your consent at any time. Learn more about
          <span style="color: #2d2def">withdrawing your consent </span>.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <h4 style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          Performance of a Contract.
          <span class="p"
            >We may process your personal information when we believe it is necessary to fulfill our contractual obligations to you,
            including providing our Services or at your request prior to entering into a contract with you.</span
          >
        </h4>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <h4 style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          Legal Obligations.
          <span class="p"
            >We may process your information where we believe it is necessary for compliance with our legal obligations, such as to
            cooperate with a law enforcement body or regulatory agency, exercise or defend our legal rights, or disclose your information as
            evidence in litigation in which we are involved.</span
          >
        </h4>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <h4 style="padding-left: 5pt; text-indent: 0pt; text-align: justify">
          Vital Interests.
          <span class="p"
            >We may process your information where we believe it is necessary to protect your vital interests or the vital interests of a
            third party, such as situations involving potential threats to the safety of any person.</span
          >
        </h4>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="4.">
        <h2 style="padding-left: 5pt; text-indent: 0pt; text-align: left">WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?</h2>
        <p class="s2" style="padding-top: 13pt; padding-left: 5pt; text-indent: 0pt; text-align: left">
          In Short:
          <span class="s4"
            >We may share information in specific situations described in this section and/or with the following third parties. </span
          ><span class="p">We may need to share your personal information in the following situations:</span>
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <h4 style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          Other Users.
          <span class="s5"
            >When you share personal information (for example, by posting comments, contributions, or other content to the Services) or
            otherwise interact with public areas of the Services, such personal </span
          ><span class="s6"
            >information may be viewed by all users and may be publicly made available outside the Services in perpetuity. Similarly, other
            users will be able to view descriptions of your activity, communicate with you within our Services, and view your profile.</span
          >
        </h4>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="5.">
        <h2 style="padding-left: 19pt; text-indent: -14pt; text-align: left">DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</h2>
        <p class="s2" style="padding-top: 14pt; padding-left: 5pt; text-indent: 0pt; text-align: justify">
          In Short: <span class="s4">We may use cookies and other tracking technologies to collect and store your information.</span>
        </p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: justify">
          We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific
          information about how we use such technologies and how you can refuse certain cookies is set.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: justify">
          out in our Cookie Notice :
          <span style="color: #2d2def"
            ><a href="https://team14.bham.team/cookie-policy" target="__blank">https://team14.bham.team/cookie-policy</a> </span
          >.
        </p>
      </li>
      <li data-list-text="6.">
        <h2 style="padding-left: 19pt; text-indent: -14pt; text-align: left">HOW LONG AND WHERE DO WE KEEP YOUR INFORMATION?</h2>
        <p class="s2" style="padding-top: 4pt; padding-left: 5pt; text-indent: 0pt; text-align: left">
          In Short:
          <span class="s5"
            >We keep your information for as long as necessary to fulfill the purposes outlined in this privacy notice unless otherwise
            required by law.</span
          >
        </p>
        <p class="s5" style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy notice. We
          will keep your information until June 2024. Once this time period has expired, we will delete your data.
        </p>
        <br />
        <p class="s5" style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          We will securely store your data on a server at University of Birmingham.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="7.">
        <h2 style="padding-left: 19pt; text-indent: -14pt; text-align: left">HOW DO WE KEEP YOUR INFORMATION SAFE?</h2>
        <p class="s2" style="padding-top: 13pt; padding-left: 5pt; text-indent: 0pt; text-align: left">
          In Short:
          <span class="s4"
            >We aim to protect your personal information through a system of organizational and technical security measures.</span
          >
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          We have implemented appropriate and reasonable technical and organizational security measures designed to protect the security of
          any personal information we process. However, despite our safeguards and efforts to secure your information, no electronic
          transmission over the Internet or information storage technology can be guaranteed to be 100% secure, so we cannot promise or
          guarantee that hackers, cybercriminals, or other unauthorized third parties will not be able to defeat our security and improperly
          collect, access, steal, or modify your information. Although we will do our best to protect your personal information,
          transmission of personal information to and from our Services is at your own risk. You should only access the Services within a
          secure environment.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="8.">
        <h2 style="padding-left: 19pt; text-indent: -14pt; text-align: left">DO WE COLLECT INFORMATION FROM MINORS?</h2>
        <p class="s2" style="padding-top: 13pt; padding-left: 5pt; text-indent: 0pt; text-align: left">
          In Short: <span class="s4">We do not knowingly collect data from or market to children under 18 years of age.</span>
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          We do not knowingly solicit data from or market to children under 18 years of age. By using the Services, you represent that you
          are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent’s use of the Services.
          If we learn that personal information from users less than 18 years of age has been collected, we will deactivate the account and
          take reasonable measures to promptly delete such data from our records. If you become aware of any data we may have collected from
          children under the age of 18, please contact one of our team members via the emails listed at the top of this GDPR notice.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="9.">
        <h2 style="padding-left: 19pt; text-indent: -14pt; text-align: left">WHAT ARE YOUR PRIVACY RIGHTS?</h2>
        <p class="s2" style="padding-top: 14pt; padding-left: 5pt; text-indent: 0pt; text-align: left">
          In Short:
          <span class="s4"
            >In some regions, such as the European Economic Area (EEA), United Kingdom (UK), and Switzerland, you have rights that allow you
            greater access to and control over your personal information. You may review, change, or terminate your account at any
            time.</span
          >
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          In some regions (like the EEA, UK, and Switzerland), you have certain rights under applicable data protection laws. These may
          include the right (i) to request access and obtain a copy of your personal information, (ii) to request rectification or erasure;
          (iii) to restrict the processing of your personal information; (iv) if applicable, to data portability; and (v) not to be subject
          to automated decision-making. In certain circumstances, you may also have the right to object to the processing of your personal
          information. You can make such a request by contacting us by using the contact details provided in the section &quot;
          <span style="color: #2d2def">HOW CAN YOU CONTACT US ABOUT THIS NOTICE? </span>&quot; below.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          We will consider and act upon any request in accordance with applicable data protection laws.
        </p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          If you are located in the EEA or UK and you believe we are unlawfully processing your personal information, you also have the
          right to complain to your <span style="color: #2d2def">Member State data protection authority </span>or
          <span style="color: #2d2def">UK data protection</span>
        </p>
        <p class="s1" style="padding-top: 4pt; padding-left: 5pt; text-indent: 0pt; text-align: left">
          authority <span style="color: #565656">.</span>
        </p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          If you are located in Switzerland, you may contact the
          <span style="color: #2d2def">Federal Data Protection and Information Commissioner </span>.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          <b>Withdrawing your consent: </b>If we are relying on your consent to process your personal information, you have the right to
          withdraw your consent at any time. You can withdraw your consent at any time by contacting us by using the contact details
          provided in the section &quot; <span style="color: #2d2def">HOW CAN YOU CONTACT US ABOUT THIS NOTICE? </span>&quot; Below or
          updating your preferences.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          However, please note that this will not affect the lawfulness of the processing before its withdrawal nor, will it affect the
          processing of your personal information conducted in reliance on lawful processing grounds other than consent.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p class="s7" style="padding-left: 5pt; text-indent: 0pt; text-align: left">Account Information</p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          If you would at any time like to review or change the information in your account or terminate your account, you can: Log in to
          your account settings and update your user account.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases.
          However, we may retain some information in our files to prevent fraud, troubleshoot problems, assist with any investigations,
          enforce our legal terms and/or comply with applicable legal requirements.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          <b>Cookies and similar technologies: </b>Most Web browsers are set to accept cookies by default. If you prefer, you can usually
          choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies or reject cookies, this could
          affect certain features or services of our Services. For further information, please see our Cookie Notice:
          <span style="color: #2d2def"
            ><a href="https://team14.bham.team/cookie-policy" target="__blank">https://team14.bham.team/cookie-policy</a></span
          >.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          If you have questions or comments about your privacy rights, you may contact one of our team members via the emails listed at the
          top of this GDPR notice.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="10.">
        <h2 style="padding-left: 27pt; text-indent: -22pt; text-align: left">CONTROLS FOR DO-NOT-TRACK FEATURES</h2>
        <p style="padding-top: 13pt; padding-left: 5pt; text-indent: 0pt; text-align: left">
          Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track (&quot;DNT&quot;) feature or
          setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and
          collected. At this stage no uniform technology standard for recognizing and implementing DNT signals has been finalized. As such,
          we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be
          tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that
          practice in a revised version of this privacy notice.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="11.">
        <h2 style="padding-left: 27pt; text-indent: -22pt; text-align: left">DO WE MAKE UPDATES TO THIS NOTICE?</h2>
        <p class="s2" style="padding-top: 14pt; padding-left: 5pt; text-indent: 0pt; text-align: left">
          In Short: <span class="s4">Yes, we will update this notice as necessary to stay compliant with relevant laws.</span>
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          We may update this privacy notice from time to time. The updated version will be indicated by an updated &quot;Revised&quot; date
          and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy notice, we may
          notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to
          review this privacy notice frequently to be informed of how we are protecting your information.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="12.">
        <h2 style="padding-left: 27pt; text-indent: -22pt; text-align: left">HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</h2>
        <p style="padding-top: 14pt; padding-left: 5pt; text-indent: 0pt; text-align: left">
          If you have questions or comments about this notice, you may email a member of our team (contact details listed at the top of this
          GDPR notice), or contact us by post:
        </p>
        <p style="padding-top: 4pt; padding-left: 5pt; text-indent: 0pt; text-align: left">
          University of Birmingham, Computer Science, Team Project (23-24) - Team 14, Edgbaston
        </p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">Birmingham , West Midlands B15 2TT United Kingdom</p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="13.">
        <h2 style="padding-left: 5pt; text-indent: 0pt; text-align: left">
          HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?
        </h2>
      </li>
    </ol>
    <p style="padding-top: 13pt; padding-left: 5pt; text-indent: 0pt; text-align: justify">
      Based on the applicable laws of your country, you may have the right to request access to the personal information we collect from
      you, change that information, or delete it. To request to review, update, or delete your personal information, please visit:
      <span style="color: #2d2def"
        ><a href="https://team14.bham.team/account/settings" target="__blank">https://team14.bham.team/account/settings</a></span
      >.
    </p>
  </body>
</html>
