<div>
  <h2 id="page-heading" data-cy="UserProfileHeading">
    <span>User Profiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-profile"
        [routerLink]="['/user-profile/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new User Profile </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userProfiles?.length === 0">
    <span>No User Profiles found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="userProfiles && userProfiles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="created">
            <div class="d-flex">
              <span>Created</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="profilePic">
            <div class="d-flex">
              <span>Profile Pic</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gender">
            <div class="d-flex">
              <span>Gender</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="location">
            <div class="d-flex">
              <span>Location</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="position">
            <div class="d-flex">
              <span>Position</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="referee">
            <div class="d-flex">
              <span>Referee</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="team.id">
            <div class="d-flex">
              <span>Team</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userProfile of userProfiles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-profile', userProfile.id, 'view']">{{ userProfile.id }}</a>
          </td>
          <td>{{ userProfile.created | formatMediumDatetime }}</td>
          <td>{{ userProfile.name }}</td>
          <td>
            <a *ngIf="userProfile.profilePic" (click)="openFile(userProfile.profilePic, userProfile.profilePicContentType)">
              <img
                [src]="'data:' + userProfile.profilePicContentType + ';base64,' + userProfile.profilePic"
                style="max-height: 30px"
                alt="userProfile image"
              />
            </a>
            <span *ngIf="userProfile.profilePic">{{ userProfile.profilePicContentType }}, {{ byteSize(userProfile.profilePic) }}</span>
          </td>
          <td>{{ userProfile.gender }}</td>
          <td>{{ userProfile.location }}</td>
          <td>{{ userProfile.position }}</td>
          <td>{{ userProfile.referee }}</td>
          <td>
            <div *ngIf="userProfile.team">
              <a [routerLink]="['/team', userProfile.team.id, 'view']">{{ userProfile.team.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-profile', userProfile.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>
              <button
                *ngIf="theAccount?.id == userProfile.id"
                type="submit"
                [routerLink]="['/user-profile', userProfile.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button
                *ngIf="theAccount?.id == userProfile.id"
                type="submit"
                (click)="delete(userProfile)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
