<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-available-date-heading" data-cy="AvailableDateCreateUpdateHeading">Create or edit a Available Date</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_fromTime">Date</label>
          <div class="d-flex">
            <input
              id="field_fromTime"
              data-cy="fromTime"
              type="date"
              class="form-control"
              name="fromTime"
              formControlName="fromTime"
              placeholder="YYYY-MM-DD"
            />
          </div>
          <div *ngIf="editForm.get('fromTime')!.invalid && (editForm.get('fromTime')!.dirty || editForm.get('fromTime')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('fromTime')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('fromTime')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <!--        <div class="row mb-3">-->
        <!--          <label class="form-label" for="field_toTime">To Time</label>-->
        <!--          <div class="d-flex">-->
        <!--            <input-->
        <!--              id="field_toTime"-->
        <!--              data-cy="toTime"-->
        <!--              type="datetime-local"-->
        <!--              class="form-control"-->
        <!--              name="toTime"-->
        <!--              formControlName="toTime"-->
        <!--              placeholder="YYYY-MM-DD HH:mm"-->
        <!--            />-->
        <!--          </div>-->
        <!--          <div *ngIf="editForm.get('toTime')!.invalid && (editForm.get('toTime')!.dirty || editForm.get('toTime')!.touched)">-->
        <!--            <small class="form-text text-danger" *ngIf="editForm.get('toTime')?.errors?.required"> This field is required. </small>-->
        <!--            <small class="form-text text-danger" [hidden]="!editForm.get('toTime')?.errors?.datetimelocal">-->
        <!--              This field should be a date and time.-->
        <!--            </small>-->
        <!--          </div>-->
        <!--        </div>-->

        <div class="row mb-3">
          <label class="form-label" for="field_isAvailable">Are you available?</label>
          <input
            type="checkbox"
            class="form-check"
            name="isAvailable"
            id="field_isAvailable"
            data-cy="isAvailable"
            formControlName="isAvailable"
          />
          <div *ngIf="editForm.get('isAvailable')!.invalid && (editForm.get('isAvailable')!.dirty || editForm.get('isAvailable')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('isAvailable')?.errors?.required"> This field is required. </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
