// head{
//   background-color:#CDD8A7;
// }
// body{
//   background-color:#CDD8A7;
// }

.pageHolder {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

.rating-content[data-rating='0.5'] span:nth-child(n + 1),
.rating-content[data-rating='1.5'] span:nth-child(n + 2),
.rating-content[data-rating='2.5'] span:nth-child(n + 3),
.rating-content[data-rating='3.5'] span:nth-child(n + 4),
.rating-content[data-rating='4.5'] span:last-child {
  color: #fff;
}

.rating-content[data-rating='0.5'] span:nth-child(n + 1):before,
.rating-content[data-rating='1.5'] span:nth-child(n + 2):before,
.rating-content[data-rating='2.5'] span:nth-child(n + 3):before,
.rating-content[data-rating='3.5'] span:nth-child(n + 4):before,
.rating-content[data-rating='4.5'] span:last-child:before {
  content: '\2605';
  display: block;
  position: absolute;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  color: #ffa100;
}

.rating-content[data-rating='0.5'] span:nth-child(n + 2),
.rating-content[data-rating='1'] span:nth-child(n + 2),
.rating-content[data-rating='1.5'] span:nth-child(n + 3),
.rating-content[data-rating='2'] span:nth-child(n + 3),
.rating-content[data-rating='2.5'] span:nth-child(n + 4),
.rating-content[data-rating='3'] span:nth-child(n + 4),
.rating-content[data-rating='3.5'] span:nth-child(n + 5),
.rating-content[data-rating='4'] span:nth-child(n + 5) {
  display: none;
}

.comment_container {
  width: 65%;
  height: auto;
  float: left;
}

.column {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5%;
  width: 80%;
  height: 25%;
  background-color: white;
}
.comment_content {
  float: right;
  width: 75%;
}
.comment_content span {
  text-align: left;
  margin: 3%;
  white-space: normal;
  display: block;
}
.reply_column {
  background-color: #ccc;
  margin-left: 30%;
}
.player_container {
  float: right;
  width: 30%;
  height: 25vh;
  border-radius: 5px;
  background-color: #ccc;
}
.player_img {
  margin: 5%;
  width: 35%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.player_info {
  float: right;
  margin: 5%;
  width: 45%;
}
.player_info span {
  display: block;
}
