// head{
//   background-color:#CDD8A7;
// }
// body{
//   background-color:#CDD8A7;
// }

.pageHolder {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

.rating-content {
  color: #ffa100;
  text-align: left;
}

.rating-content span {
  display: inline-block;
  position: relative;
  font-size: 20px;
}
.rating-content[data-rating='0.5'] span:nth-child(n + 1),
.rating-content[data-rating='1.5'] span:nth-child(n + 2),
.rating-content[data-rating='2.5'] span:nth-child(n + 3),
.rating-content[data-rating='3.5'] span:nth-child(n + 4),
.rating-content[data-rating='4.5'] span:last-child {
  color: #fff;
}

.rating-content[data-rating='0.5'] span:nth-child(n + 1):before,
.rating-content[data-rating='1.5'] span:nth-child(n + 2):before,
.rating-content[data-rating='2.5'] span:nth-child(n + 3):before,
.rating-content[data-rating='3.5'] span:nth-child(n + 4):before,
.rating-content[data-rating='4.5'] span:last-child:before {
  content: '\2605';
  display: block;
  position: absolute;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  color: #ffa100;
}

.rating-content[data-rating='0.5'] span:nth-child(n + 2),
.rating-content[data-rating='1'] span:nth-child(n + 2),
.rating-content[data-rating='1.5'] span:nth-child(n + 3),
.rating-content[data-rating='2'] span:nth-child(n + 3),
.rating-content[data-rating='2.5'] span:nth-child(n + 4),
.rating-content[data-rating='3'] span:nth-child(n + 4),
.rating-content[data-rating='3.5'] span:nth-child(n + 5),
.rating-content[data-rating='4'] span:nth-child(n + 5) {
  display: none;
}

.comment_container {
  width: 60%;
  height: auto;
  float: left;
}

.column {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5%;
  width: 80%;
  height: 25%;
  display: flex;
}
.comment_content {
  text-align: left;
  flex: 1;
}
.reply_column {
  background-color: #ccc;
  margin-left: 30%;
}
.player_container {
  width: 30%;
  height: auto;
  border-radius: 5px;
  background-color: #ccc;
}
.player_img {
  margin: 5%;
  width: 35%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.player_info {
  float: right;
  margin: 5%;
  width: 45%;
}
.name_container {
  flex: 0 0 20%;
  height: auto;
  margin: 5%;
  border-right: 1px solid gray;
}
.player_info span {
  display: block;
}
.floating-widget {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 30%;
  left: 0;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 5px;
}

///////////////////////////////

.gitment-container {
  width: 80%;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  word-wrap: break-word;
}

.gitment-container * {
  box-sizing: border-box;
}

.gitment-container *:disabled {
  cursor: not-allowed;
}

.gitment-container a,
.gitment-container a:visited {
  cursor: pointer;
  text-decoration: none;
}

.gitment-container a:hover {
  text-decoration: underline;
}

.gitment-container .gitment-hidden {
  display: none;
}

.gitment-container .gitment-spinner-icon {
  fill: #333;

  -webkit-animation: gitment-spin 1s steps(12) infinite;
  animation: gitment-spin 1s steps(12) infinite;
}

@-webkit-keyframes gitment-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes gitment-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.gitment-root-container {
  margin: 19px 0;
}

.gitment-header-container {
  margin: 19px 0;
}

.gitment-header-like-btn,
.gitment-comment-like-btn {
  cursor: pointer;
}

.gitment-comment-like-btn {
  float: right;
}

.gitment-comment-like-btn.liked {
  color: #f44336;
}

.gitment-header-like-btn svg {
  vertical-align: middle;
  height: 30px;
}

.gitment-comment-like-btn svg {
  vertical-align: middle;
  height: 20px;
}

.gitment-header-like-btn.liked svg,
.gitment-comment-like-btn.liked svg {
  fill: #f44336;
}

a.gitment-header-issue-link,
a.gitment-header-issue-link:visited {
  float: right;
  line-height: 30px;
  color: #666;
}

a.gitment-header-issue-link:hover {
  color: #666;
}

.gitment-comments-loading,
.gitment-comments-error,
.gitment-comments-empty {
  text-align: center;
  margin: 50px 0;
}

.gitment-comments-list {
  list-style: none;
  padding-left: 0;
  margin: 0 0 38px;
}

.gitment-comment,
.gitment-editor-container {
  position: relative;
  min-height: 60px;
  margin: 19px 0;
}

.gitment-comment-avatar,
.gitment-editor-avatar {
  float: left;
  margin-left: -60px;
}

.gitment-comment-avatar,
.gitment-comment-avatar-img,
.gitment-comment-avatar,
.gitment-editor-avatar-img,
.gitment-editor-avatar svg {
  width: 44px;
  height: 44px;
  border-radius: 3px;
}

.gitment-editor-avatar .gitment-github-icon {
  fill: #fff;
  background-color: #333;
}

.gitment-comment-main,
.gitment-editor-main {
  position: relative;
  border: 1px solid #cfd8dc;
  border-radius: 0;
}

.gitment-editor-main::before,
.gitment-editor-main::after {
  position: absolute;
  top: 11px;
  left: -16px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid solid outset;
}
.gitment-comment-main::before,
.gitment-comment-main::after {
  position: absolute;
  top: 11px;
  left: -16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: '';
  border-color: transparent;
  border-style: solid solid outset;
}

.gitment-editor-main::before,
.gitment-comment-main::before {
  border-width: 8px;
  border-right-color: #cfd8dc;
}

.gitment-editor-main::after,
.gitment-comment-main::after {
  margin-top: 1px;
  margin-left: 2px;
  border-width: 7px;
  border-right-color: #fff;
}

.gitment-comment-header {
  margin: 12px 15px;
  color: #666;
  background-color: #fff;
  border-radius: 3px;
}

a.gitment-comment-name,
a.gitment-comment-name:visited {
  font-weight: 600;
  color: #666;
}
.gitment-comment-body {
  position: relative;
  margin: 12px 15px;
  overflow: hidden;
  border-radius: 3px;
}

.gitment-comment-body-folded {
  cursor: pointer;
}

.gitment-comment-body-folded::before {
  display: block !important;
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 50px;
  pointer-events: none;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
}

.gitment-comment-body-folded::after {
  display: block !important;
  content: 'Click to Expand' !important;
  text-align: center;
  color: #666;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.9);
}

.gitment-comments-pagination {
  list-style: none;
  text-align: right;
  border-radius: 0;
  margin: -19px 0 19px 0;
}

.gitment-comments-page-item {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #cfd8dc;
  margin-left: -1px;
  padding: 0.25rem 0.5rem;
}

.gitment-comments-page-item:hover {
  background-color: #f5f5f5;
}

.gitment-comments-page-item.gitment-selected {
  background-color: #f5f5f5;
}

.gitment-comments-init-btn:disabled,
.gitment-editor-submit:disabled {
  color: rgba(255, 255, 255, 0.75);
  background-color: #4dd0e1;
  box-shadow: none;
}

.gitment-editor-submit {
  float: right;
}

.gitment-footer-container {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 12px;
}
