<div class="container">
  <div class="col-8">
    <div *ngIf="pitchBooking">
      <h2 data-cy="pitchBookingDetailsHeading"><span>Pitch Booking</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ pitchBooking.id }}</span>
        </dd>
        <dt><span>Booking Date</span></dt>
        <dd>
          <span>{{ pitchBooking.bookingDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Start Time</span></dt>
        <dd>
          <span>{{ pitchBooking.startTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span>End Time</span></dt>
        <dd>
          <span>{{ pitchBooking.endTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Team</span></dt>
        <dd>
          <div *ngIf="pitchBooking.team">
            <a [routerLink]="['/team', pitchBooking.team.id, 'view']">{{ pitchBooking.team.id }}</a>
          </div>
        </dd>
        <dt><span>Pitch</span></dt>
        <dd>
          <div *ngIf="pitchBooking.pitch">
            <p>{{ pitchBooking.pitch.id }}</p>
          </div>
          <div *ngIf="!pitchBooking.pitch">No pitch available</div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/pitch-booking', pitchBooking.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
