<div class="container">
  <div *ngIf="pitch">
    <h2 data-cy="pitchDetailsHeading"><span>Pitch</span></h2>

    <hr />

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <dl class="entity-details">
      <dt><span>ID</span></dt>
      <dd>
        <span>{{ pitch.id }}</span>
      </dd>
      <dt><span>Name</span></dt>
      <dd>
        <span>{{ pitch.name }}</span>
      </dd>
      <dt><span>Location</span></dt>
      <dd>
        <span>{{ pitch.location }}</span>
      </dd>
    </dl>
  </div>
</div>
