<div class="container">
  <div *ngIf="pitch">
    <h2 id="modal-title"><span>PITCH DETAILS</span></h2>

    <hr />

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="entity-details-container">
      <div class="entity-image">
        <img src="content/images/logo-pitch-removebg-preview.png" alt="pitch logo" />
      </div>
      <div class="entity-details">
        <dl>
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ pitch.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ pitch.name }}</span>
          </dd>
          <dt><span>Location</span></dt>
          <dd>
            <span>{{ pitch.location }}</span>
          </dd>
        </dl>
      </div>
      <div class="entity-button">
        <button (click)="navigateToBooking(pitch)">BOOK THIS PITCH</button>
      </div>
    </div>
  </div>
</div>
