<div class="row">
  <div class="col-md-9">
    <p class="lead">This is your homepage</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </div>
      <div *ngSwitchCase="false">
        <!-- this is the login/signup page when users are not logged in -->

        <div class="container">
          <!-- upper button section to select the login or signup form -->
          <div class="slider"></div>
          <div class="btn">
            <button class="login" (click)="toggleForm('login')">Login</button>
            <button class="signup" (click)="toggleForm('signup')">Signup</button>
          </div>

          <!-- Form section that contains the login and the signup form -->
          <div class="form-section">
            <!-- login form -->
            <div class="login-box">
              <input type="email" class="email ele" placeholder="youremail@email.com" />
              <input type="password" class="password ele" placeholder="password" />
              <button class="clkbtn" (click)="login()">Login</button>
            </div>

            <!-- signup form -->
            <div class="signup-box">
              <input type="text" class="name ele" placeholder="Enter your name" />
              <input type="email" class="email ele" placeholder="youremail@email.com" />
              <input type="password" class="password ele" placeholder="password" />
              <input type="password" class="password ele" placeholder="Confirm password" />
              <button class="clkbtn">Signup</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
