<div id="pitch-booking-page">
  <div class="banner-container">
    <img id="banner-container-image" src="content/images/banner_pitch_bookings.jpg" alt="image for banner" />
    <a class="banner-container-page-title dynamic-text-size" (click)="scrollDown()" [style.fontSize]="fontSizeMultiplier * 3.3 + 'rem'"
      >PITCH BOOKINGS</a
    >
  </div>
  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>

  <div id="top-row">
    <div id="top-row-left-aligned"></div>
    <div id="top-row-right-aligned">
      <a id="create-pitch-button" href="/pitch-booking/new">CREATE PITCH BOOKING</a>
    </div>
  </div>

  <div id="noSearchResultsFoundWarning" *ngIf="pitchBookings?.length === 0">
    <div>Sorry, no pitches are available.</div>
    <img src="../../../../content/images/NoSearchResultsFound.png" alt="No search results found" />
  </div>

  <div class="searchResultsGrid section" *ngIf="pitchBookings !== null && pitchBookings !== undefined && pitchBookings.length > 0">
    <!-- <a *ngFor="let pitch of pitches" class="card" [routerLink]="['/pitch-booking/new']"> -->
    <a *ngFor="let pitchBooking of pitchBookings" class="card" (click)="openModal(pitchBooking)">
      <div class="card-content">
        <img class="banner-image-for-the-container" src="content/images/bournbrook.jpg" alt="banner for cards" />
        <div id="inner-card-content">
          <h1 class="view-booking-text">View Booking {{ pitchBooking.bookingDate }}</h1>
          <img src="content/images/logo-pitch-removebg-preview.png" alt="pitch logo" />
        </div>
      </div>
    </a>
  </div>
</div>
