<body class="body">
  <div>
    <h2 id="page-heading" data-cy="PitchBookingHeading">
      <span>Pitch Bookings</span>

      <div class="d-flex justify-content-end">
        <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span>Refresh list</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-pitch-booking"
          [routerLink]="['/pitch-booking/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span> Create a new Pitch Booking </span>
        </button>
      </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pitchBookings?.length === 0">
      <span>No Pitch Bookings found</span>
    </div>

    <div class="table-responsive table-entities" id="entities" *ngIf="pitchBookings && pitchBookings.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bookingDate">
              <div class="d-flex">
                <span>Booking Date</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="startTime">
              <div class="d-flex">
                <span>Start Time</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="endTime">
              <div class="d-flex">
                <span>End Time</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pitch.id">
              <div class="d-flex">
                <span>Pitch</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="team.id">
              <div class="d-flex">
                <span>Team</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pitchBooking of pitchBookings; trackBy: trackId" data-cy="entityTable">
            <td>
              <a [routerLink]="['/pitch-booking', pitchBooking.id, 'view']">{{ pitchBooking.id }}</a>
            </td>
            <td>{{ pitchBooking.bookingDate | formatMediumDatetime }}</td>
            <td>{{ pitchBooking.startTime | formatMediumDatetime }}</td>
            <td>{{ pitchBooking.endTime | formatMediumDatetime }}</td>
            <td>
              <div *ngIf="pitchBooking.pitch">
                <a [routerLink]="['/pitch', pitchBooking.pitch.id, 'view']">{{ pitchBooking.pitch.id }}</a>
              </div>
            </td>
            <td>
              <div *ngIf="pitchBooking.team">
                <a [routerLink]="['/team', pitchBooking.team.id, 'view']">{{ pitchBooking.team.id }}</a>
              </div>
            </td>
            <td class="text-end">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/pitch-booking', pitchBooking.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline">View</span>
                </button>

                <button
                  type="submit"
                  [routerLink]="['/pitch-booking', pitchBooking.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline">Edit</span>
                </button>

                <button type="submit" (click)="delete(pitchBooking)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
