<div id="pitch-page">
  <div class="banner-container">
    <img id="banner-container-image" src="content/images/banner-pitch.jpg" alt="image for banner" />
    <a class="banner-container-page-title dynamic-text-size" [style.fontSize]="fontSizeMultiplier * 3.3 + 'rem'" (click)="scrollDown()"
      >PITCHES</a
    >
  </div>
  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>

  <div id="top-row">
    <div id="top-row-left-aligned">
      <h1 class="dynamic-text-size page-title" [style.fontSize]="fontSizeMultiplier * 3 + 'rem'">Pitches</h1>
    </div>
    <div id="top-row-right-aligned">
      <input type="button" id="filter-button" style="display: none" />
      <a class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier * 1.5 + 'rem'" id="create-pitch-button" href="/pitch-booking"
        >VIEW YOUR PITCH BOOKINGS</a
      >
    </div>
  </div>

  <div id="noSearchResultsFoundWarning" *ngIf="pitches?.length === 0">
    <div>Sorry, no pitches are available.</div>
    <img src="../../../../content/images/NoSearchResultsFound.png" alt="No search results found" />
  </div>

  <div class="searchResultsGrid section" *ngIf="pitches !== null && pitches !== undefined && pitches.length > 0">
    <!-- <a *ngFor="let pitch of pitches" class="card" [routerLink]="['/pitch-booking/new']"> -->
    <a *ngFor="let pitch of pitches" class="card" (click)="openModal(pitch)">
      <div class="card-content">
        <img src="content/images/bournbrook.jpg" alt="banner for cards" />
        <div id="inner-card-content">
          <h1>{{ pitch.name }}</h1>
          <!-- <img src="content/images/logo-pitch.png" /> -->
        </div>
      </div>
    </a>
  </div>
</div>
