<div class="d-flex justify-content-center">
  <div class="col-9">
    <div *ngIf="match">
      <div id="matchBox">
        <div id="matchNav" class="text-center">
          <button type="submit" id="matchBack" (click)="previousState()" class="btn" data-cy="entityDetailsBackButton">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
          </button>
          <h2 data-cy="matchDetailsHeading">
            <ng-container *ngIf="match.home && match.away; else noTeams">
              <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier * 2 + 'rem'"
                >{{ match.home.name }} vs {{ match.away.name }}</span
              >
            </ng-container>
            <ng-template #noTeams>
              <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier * 1.5 + 'rem'">Teams not allocated</span>
            </ng-template>
          </h2>
        </div>

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>
        <div class="row text-center">
          <div class="col">
            <div *ngIf="match.home">
              <ng-container *ngIf="match.home.image; else defaultImage">
                <img
                  class="homeImg"
                  [src]="'data:' + match.home.imageContentType + ';base64,' + match.home.image"
                  [alt]="match.home.name + ' team logo'"
                />
              </ng-container>
              <ng-template #defaultImage>
                <img class="homeImg" src="../../../../../content/images/FootballIcon.png" [alt]="match.home.name + ' default team logo'" />
              </ng-template>

              <a [routerLink]="['/team', match.home.id, 'view']"
                ><h3 class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier * 1.7 + 'rem'">{{ match.home.name }}</h3></a
              >
              <div *ngIf="match.home.members; else noTeamMembers">
                <h4 class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Members ({{ match.home.members.length }})</h4>
                <div class="scrollBox">
                  <div
                    class="scrollItem"
                    *ngFor="let teamMember of match.home.members"
                    [routerLink]="['/user-profile', teamMember.id, 'view']"
                  >
                    <a>
                      <div *ngIf="teamMember.profilePic; else defaultImage">
                        <img
                          class="playerImg"
                          [src]="'data:' + teamMember.profilePicContentType + ';base64,' + teamMember.profilePic"
                          alt="profile picture"
                        />
                      </div>
                      <ng-template class="playerImgDiv" #defaultImage>
                        <img class="playerImg" src="../../../../content/images/DefaultProfilePicture.jpg" alt="default profile picture" />
                      </ng-template>

                      <div class="playerDets">
                        <h4 class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">
                          {{ (teamMember.name != undefined && teamMember.name != null && teamMember.name) || 'N/A' }}
                        </h4>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <ng-template #noTeamMembers>
                <div>This team currently has no members.</div>
              </ng-template>
            </div>
          </div>
          <div class="col">
            <div id="matchScore">
              <div *ngIf="match.homeScore && match.awayScore; else toPlay">
                <h2 class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier * 1.5 + 'rem'">
                  {{ match.homeScore }} - {{ match.homeScore }}
                </h2>
              </div>
            </div>
            <ng-template #toPlay>
              <h2 class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">n/a - n/a</h2>
            </ng-template>

            <dt><span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Date</span></dt>
            <dd>
              <span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">{{ match.date | formatMediumDatetime }}</span>
            </dd>
            <dt><span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Referee</span></dt>
            <dd>
              <div *ngIf="match.referee">
                <a
                  [routerLink]="['/user-profile', match.referee.id, 'view']"
                  class="dynamic-text-size"
                  [style.fontSize]="fontSizeMultiplier + 'rem'"
                  >{{ match.referee.name }}</a
                >
              </div>
            </dd>
            <dt><span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Pitch</span></dt>
            <dd>
              <div *ngIf="match.pitch">
                <a
                  [routerLink]="['/pitch', match.pitch.id, 'view']"
                  class="dynamic-text-size"
                  [style.fontSize]="fontSizeMultiplier + 'rem'"
                  >{{ match.pitch.name }}</a
                >
              </div>
            </dd>
            <dt><span class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Tournament</span></dt>
            <dd>
              <div *ngIf="match.tournament">
                <a [routerLink]="['/tournament']">{{ match.tournament.name }}</a>
              </div>
            </dd>
          </div>
          <div class="col">
            <div *ngIf="match.away">
              <ng-container *ngIf="match.away.image; else defaultImage">
                <img
                  class="homeImg"
                  [src]="'data:' + match.away.imageContentType + ';base64,' + match.away.image"
                  [alt]="match.away.name + ' team logo'"
                />
              </ng-container>
              <ng-template #defaultImage>
                <img class="homeImg" src="../../../../../content/images/FootballIcon.png" [alt]="match.away.name + ' default team logo'" />
              </ng-template>

              <a [routerLink]="['/team', match.away.id, 'view']"
                ><h3 class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier * 1.5 + 'rem'">{{ match.away.name }}</h3></a
              >
              <div *ngIf="match.away.members; else noTeamMembers" id="teamMembers">
                <h4 class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">Members ({{ match.away.members.length }})</h4>
                <div class="scrollBox">
                  <div
                    class="scrollItem"
                    *ngFor="let teamMember of match.away.members"
                    [routerLink]="['/user-profile', teamMember.id, 'view']"
                  >
                    <a>
                      <ng-container *ngIf="teamMember.profilePic; else defaultImage">
                        <img
                          class="playerImg"
                          [src]="'data:' + teamMember.profilePicContentType + ';base64,' + teamMember.profilePic"
                          alt="profile picture"
                        />
                      </ng-container>
                      <ng-template class="playerImgDiv" #defaultImage>
                        <img class="playerImg" src="../../../../content/images/DefaultProfilePicture.jpg" alt="default profile picture" />
                      </ng-template>

                      <div class="playerDets">
                        <h4 class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">
                          {{ (teamMember.name != undefined && teamMember.name != null && teamMember.name) || 'N/A' }}
                        </h4>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <ng-template #noTeamMembers>
                <div id="noTeamMembersPresent">This team currently has no members.</div>
              </ng-template>
            </div>
          </div>
        </div>

        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button" [routerLink]="['/match', match.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    </div>
  </div>
</div>
